<script>

    
    let sidebar=document.getElementById('sidebar');
    let openSlide=document.getElementById('openSlide');
    let contenedor=document.getElementById('contenedor');
    let closeSidebar=document.getElementById('closeSidebar');

    let divDatosUsuario=document.getElementById('divDatosUsuario');
    let btnDatosUsuario=document.getElementById('btnDatosUsuario');

    let divCambioContrasenna=document.getElementById('divCambioContrasenna');
    let btnCambioContrasenna=document.getElementById('btnCambioContrasenna');

    let txtNombreRed=document.getElementById('txtNombreRed');
    let txtPasswordRed=document.getElementById('txtPasswordRed');

    let btnGuardarCambio=document.getElementById('btnGuardarCambio');

    let txtNombreShow=document.getElementById('txtNombreShow');
    let sltTipoDocShow=document.getElementById('sltTipoDocShow');
    let txtNumeroDocumentoShow=document.getElementById('txtNumeroDocumentoShow');
    let txtCorreoShow=document.getElementById('txtCorreoShow');
    let txtTelefonoShow=document.getElementById('txtTelefonoShow');
    let sltRolesShow=document.getElementById('sltRolesShow');
    let btnGuardarEditar=document.getElementById('btnGuardarEditar');
    let chkValidar=document.getElementById('chkValidar');
    let divBtnGuardar=document.getElementById('divBtnGuardar');
    let divConectados=document.getElementById('divConectados');
    let btnConectados=document.getElementById('btnConectados');
    let tableConectados=document.getElementById('tableConectados');
    let liNotifiaciones=document.getElementById('liNotifiaciones');
    let divNotificaciones=document.getElementById('divNotificaciones');
    let btnNotificaciones=document.getElementById('btnNotificaciones');
    let liCambioContrasenna=document.getElementById('liCambioContrasenna');
    let liConectados=document.getElementById('liConectados');

    let idUsuario=0;

    document.addEventListener("DOMContentLoaded",async function () {
        idUsuario=@ViewBag.idUsuario;
        let url = `@Url.Action("consultarUsuario", "Home")` + `?idUsuario=${idUsuario}`;
        let r = await Get(url);
        if(r.idRol=='1'){
            liNotifiaciones.classList.remove('d-none');
            liConectados.classList.add('d-none');
            liCambioContrasenna.classList.add('d-none');
        }else{
            liNotifiaciones.classList.add('d-none');
            liConectados.classList.remove('d-none');
            liCambioContrasenna.classList.remove('d-none');
        }
        await traerRoles();
        await traerTiposDocumento();
    });

    async function traerTiposDocumento(){
        let url = `@Url.Action("consultarTiposDocumento", "Home")`;
        let r = await Get(url);
        sltTipoDocShow.innerHTML=`<option value="0">Seleccione tipo de documento...</option>`;
        r.forEach(el=>{
            sltTipoDocShow.innerHTML+=`<option value="${el.id}">${el.descripcion}</option>`;
        });
    }

    async function traerRoles(){
        let url = `@Url.Action("consultarRoles", "Login")`;
        let r = await Get(url);
        sltRolesShow.innerHTML=`<option value="0">Seleccione rol...</option>`;
        r.forEach(el=>{
            sltRolesShow.innerHTML+=`<option value="${el.id}">${el.descripcion}</option>`;
        });
    }

    function limpiarHome(){
        limpiarControlesDatosUsuario();
        divBtnGuardar.classList.add('d-none');
        txtNombreRed.value='';
        txtPasswordRed.value='';
        divDatosUsuario.classList.add('d-none');
        divCambioContrasenna.classList.add('d-none');
        divConectados.classList.add('d-none');
        divNotificaciones.classList.add('d-none');
    }

    function limpiarControlesDatosUsuario(){
        chkValidar.checked=false;
        txtNombreShow.value='';
        sltTipoDocShow.value='0';
        txtNumeroDocumentoShow.value='';
        txtCorreoShow.value='';
        txtTelefonoShow.value='';
        sltRolesShow.value='0';
    }

    

    function disabled(Element, value){
        Element.setAttribute('disabled', value);
    }

    function soloLeerControles(){
        readOnly(txtNombreShow,true);
        disabled(sltTipoDocShow,true);
        readOnly(txtNumeroDocumentoShow,true);
        readOnly(txtCorreoShow,true);
        readOnly(txtTelefonoShow,true);
        disabled(sltRolesShow,true);
    }

    function reiniciarSoloLeerControles(){
        readOnly(txtNombreShow,false);
        sltTipoDocShow.removeAttribute('disabled');
        readOnly(txtNumeroDocumentoShow,false);
        readOnly(txtCorreoShow,false);
        readOnly(txtTelefonoShow,false);
    }

    async function cragarTablaNotificaciones(){
        let url = `@Url.Action("consultarNotifiaciones", "Home")`;
        let r = await Get(url);
        columns=[
            {
                'data':'id',
                className:'d-none'
            },
            {
                'data':'notificacion'
            },
            {
                'data':'documento'
            },
            {
                render: function(){
                    return '<button class="btn btn-danger btnEliminarNot"><i class="fas fa-trash"></i></button> '
                }
            }
        ]
        DataTableGenerico('#tableNotificaciones', columns, r, 3)
    }

    openSlide.addEventListener('click', function(){
        sidebar.classList.add('active');
        contenedor.style.marginLeft="0";
        contenedor.style.width="75%";
        openSlide.classList.add('d-none');
    });

    closeSidebar.addEventListener('click', function(){
        sidebar.classList.remove('active');
        contenedor.style.marginLeft="-25%";
        contenedor.style.width="100%";
        openSlide.classList.remove('d-none');
    });
    
    btnDatosUsuario.addEventListener('click', async function(){
        limpiarHome()
        await traerDatosUsuario();
        divDatosUsuario.classList.remove('d-none');
    });

    $('#tableNotificaciones tbody').on('click', '.btnEliminarNot', async function(){
        let id = parseInt($(this).parents("tr").find("td")[0].innerText);
        let url = `@Url.Action("EliminarNotificacion", "Home")` + `?id=${id}`;
        let r = await Get(url);
        if(r){
            cragarTablaNotificaciones();
        }
    });

    async function traerDatosUsuario(){
        let url = `@Url.Action("consultarUsuario", "Home")` + `?idUsuario=${idUsuario}`;
        let r = await Get(url);
        txtNombreShow.value=r.nombre;
        sltTipoDocShow.value=r.tipoDocumento;
        txtNumeroDocumentoShow.value=r.numeroDocumento;
        txtCorreoShow.value=r.correo;
        txtTelefonoShow.value=r.telefono;
        sltRolesShow.value=r.idRol;
        soloLeerControles();
    }

    chkValidar.addEventListener('change', function(){
        if(chkValidar.checked){
            reiniciarSoloLeerControles();
            divBtnGuardar.classList.remove('d-none');
        }else{
            soloLeerControles();
            divBtnGuardar.classList.add('d-none');
        }
    });

    btnCambioContrasenna.addEventListener('click', function(){
        limpiarHome()
        divCambioContrasenna.classList.remove('d-none');
    });

    btnConectados.addEventListener('click', function(){
        limpiarHome()
        divConectados.classList.remove('d-none');
    });

    btnNotificaciones.addEventListener('click', async function(){
        limpiarHome()
        await cragarTablaNotificaciones()
        divNotificaciones.classList.remove('d-none');
    });

    btnGuardarCambio.addEventListener('click', async function(){
        let dato={
            'nombreRed':txtNombreRed.value,
            'contrasennaRed':txtPasswordRed.value
        };
        let url = `@Url.Action("CambiarContrasennaRouter", "Home")`;
        let r = await Get(url, {'datos': dato});
        if(r){
            txtNombreRed.value='';
            txtPasswordRed.value='';
        }
    })

    btnGuardarEditar.addEventListener('click', async function(){
        var dato={
            "id":idUsuario,
            "nombre":$(txtNombreShow).val(),
            "tipoDocumento":$(sltTipoDocShow).val(),
            "numeroDocumento":$(txtNumeroDocumentoShow).val(),
            "correo":$(txtCorreoShow).val(),
            "telefono":$(txtTelefonoShow).val()
        }
        let url = `@Url.Action("EditarUsuario", "Home")`;
        let r = await Get(url, {'usuario': dato});
        if(r.mensaje=='se edito usuario'){
            limpiarHome()
            await traerDatosUsuario();
            divDatosUsuario.classList.remove('d-none');
        }
    })
</script>