@{
    Layout = "_LayoutHome";
}

<div class="row m-0 home">
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="row">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li>
                        <img src="../images/imagenSilcom.png" height="80px" alt="">
                    </li>
                    <li class="nav-item">
                        <a type="button" id="btnDatosUsuario" class="nav-link">Datos del usuario</a>
                    </li>
                    <li class="nav-item" id="liCambioContrasenna">
                        <a type="button" id="btnCambioContrasenna" class="nav-link">Cambio de contraseña router</a>
                    </li>
                    <li class="nav-item d-none" id="liConectados">
                        <a type="button" id="btnConectados" class="nav-link">Dispositivos conectados</a>
                    </li>
                    <li class="nav-item d-none" id="liNotifiaciones">
                        <a type="button" id="btnNotificaciones" class="nav-link">notificaciones</a>
                    </li>
                    <li class="nav-item d-none" id="liSolicitudVisita">
                        <a type="button" id="btnSolicitudVisita" class="nav-link">solicitar visita tecnica</a>
                    </li>
                    <li class="nav-item item-salir">
                        <a type="button" class="nav-link" asp-controller="Login" asp-action="Index">Salir</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="contenedor">
        <div class="row">
            <div class="d-none" id="divDatosUsuario">
                <partial name="Partials\datosUsuario" />
            </div>
            <div class="d-none" id="divCambioContrasenna">
                <partial name="Partials\cambioContrasenna" />
            </div>
            <div class="d-none" id="divConectados">
                <partial name="Partials\dispositivosConectados" />
            </div>
            <div class="d-none" id="divNotificaciones">
                <partial name="Partials\notificaciones" />
            </div>
            <div class="d-none" id="divSolicitudVisita">
                <partial name="Partials\SolicitudVisita" />
            </div>
        </div>
    </div>
</div>
<partial name="Script/HomeScript"></partial>