@{
    Layout = "_LayoutHome";
}

<div class="container">
    <div class="row m-5">
        <div class="col-12 col-sm-6 col-md-4 mb-4 mr-1">

            <a type="button" class="card">
                <div class="text-center mt-2 mb-2">
                    <span class="fas fa-cog text-secondary fa-5x"></span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Configuracion Router</h5>
                    <p class="card-text">Aqui puedes cambiar la contraseña y nombre de la red</p>
                </div>
            </a>

        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-4 mr-1">

            <a type="button" class="card">
                <div class="text-center mt-2 mb-2">
                    <span class="fas fa-cog text-secondary fa-5x"></span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Configuracion Router</h5>
                    <p class="card-text">Aqui puedes cambiar la contraseña y nombre de la red</p>
                </div>
            </a>

        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-4 mr-1">

            <a type="button" class="card">
                <div class="text-center mt-2 mb-2">
                    <span class="fas fa-cog text-secondary fa-5x"></span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Configuracion Router</h5>
                    <p class="card-text">Aqui puedes cambiar la contraseña y nombre de la red</p>
                </div>
            </a>

        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-4 mr-1">

            <a type="button" class="card">
                <div class="text-center mt-2 mb-2">
                    <span class="fas fa-cog text-secondary fa-5x"></span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Configuracion Router</h5>
                    <p class="card-text">Aqui puedes cambiar la contraseña y nombre de la red</p>
                </div>
            </a>

        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-4 mr-1">

            <a type="button" class="card">
                <div class="text-center mt-2 mb-2">
                    <span class="fas fa-cog text-secondary fa-5x"></span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Configuracion Router</h5>
                    <p class="card-text">Aqui puedes cambiar la contraseña y nombre de la red</p>
                </div>
            </a>

        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-4 mr-1">

            <a type="button" class="card">
                <div class="text-center mt-2 mb-2">
                    <span class="fas fa-cog text-secondary fa-5x"></span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Configuracion Router</h5>
                    <p class="card-text">Aqui puedes cambiar la contraseña y nombre de la red</p>
                </div>
            </a>

        </div>
    </div>
</div>
