@{
    Layout = "_LayoutHome";
}

<div class="row m-0 home">
        <div class="active estilos_div" id="sidebar">
            <div class="text-end">
                <a type="button" id="closeSidebar"><span class="fas fa-times fa-2x"></span></a>
            </div>
            <ul class="m-0">
                <li>
                    <img src="../images/imagenSilcom.png" height="80px" alt="">
                </li>
                <li class="li-opciones">
                    <a type="button" id="btnDatosUsuario" class="nav-link">Datos del usuario</a>
                </li>
                <li class="li-opciones" id="liCambioContrasenna">
                    <a type="button" id="btnCambioContrasenna" class="nav-link">Cambio de contraseña router</a>
                </li>
                <li class="li-opciones d-none" id="liConectados">
                    <a type="button" id="btnConectados" class="nav-link">Dispositivos conectados</a>
                </li>
                <li class="li-opciones d-none" id="liNotifiaciones">
                    <a type="button" id="btnNotificaciones" class="nav-link">notificaciones</a>
                </li>
                <li class="li-opciones d-none" id="liSolicitudVisita">
                    <a type="button" id="btnSolicitudVisita" class="nav-link">solicitar visita tecnica</a>
                </li>
                <li class="li-opciones item-salir">
                    <a type="button" class="nav-link" asp-controller="Login" asp-action="Index">Salir</a>
                </li>
            </ul>
        </div>
    <div class="home-contenedor" id="contenedor">
        <div class="row">
            <button class="btn btn-light d-none" id="openSlide">
                <span class="fas fa-bars"></span>
            </button>
            <div class="d-none" id="divDatosUsuario">
                <partial name="Partials\datosUsuario" />
            </div>
            <div class="d-none" id="divCambioContrasenna">
                <partial name="Partials\cambioContrasenna" />
            </div>
            <div class="d-none" id="divConectados">
                <partial name="Partials\dispositivosConectados" />
            </div>
            <div class="d-none" id="divNotificaciones">
                <partial name="Partials\notificaciones" />
            </div>
            <div class="d-none" id="divSolicitudVisita">
                <partial name="Partials\SolicitudVisita" />
            </div>
        </div>
    </div>
</div>
<partial name="Script/HomeScript"></partial>