<div class="div-estandar" id="divUsuario">
    <h1 class="mb-2">Datos de usuario</h1>
    <div class="row div-registrar">
        <div class="mb-1">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="chkValidar">
                <label class="form-check-label" for="chkValidar">Editar</label>
            </div>
        </div>
        <div class="m-1 col-md-3 ">
            <label for="txtNombreShow" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="txtNombreShow" placeholder="Nombre" onkeypress="return validarContrasenna(event)">
        </div>
        <div class="m-1 col-md-3 ">
            <label for="txtTipoDocShow" class="form-label">Tipo de documento</label>
            <select class="form-select" id="sltTipoDocShow"></select>
        </div>
        <div class="m-1 col-md-3 ">
            <label for="txtNumeroDocumentoShow" class="form-label">Numero de documento</label>
            <input type="text" class="form-control" id="txtNumeroDocumentoShow" placeholder="Numero de documento">
        </div>
        <div class="m-1 col-md-3 ">
            <label for="txtCorreoShow" class="form-label">Correo</label>
            <input type="text" class="form-control" id="txtCorreoShow" placeholder="Correo">
        </div>
        <div class="m-1 col-md-3 ">
            <label for="txtTelefonoShow" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="txtTelefonoShow" placeholder="Telefono">
        </div>
        <div class="m-1 col-md-3 ">
            <label for="sltRolesShow" class="form-label">Rol</label>
            <select class="form-select" id="sltRolesShow"></select>
        </div>
    </div>
    <div class="m-2 col-md-12 text-end d-none" id="divBtnGuardar">
        <button class="btn btn-primary col-2" id="btnGuardarEditar">Guardar</button>
    </div>
</div>