<div class="div-estandar" id="divRegistrar">
    <h1 class="mb-4">Notificaciones</h1>
    <div class="row div-registrar">
        <div class="table-responsive">
            <table class="table table-hover w-100" id="tableNotificaciones" aria-describedby="tabla notificaciones">
                <thead>
                    <tr class="table-primary">
                        <th class="d-none"></th>
                        <th>Notifiación</th>
                        <th>Numero de identificacion de usuario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>