@{
    Layout = "_Layout";
}
<div class="text-end">
    <a type="button" class="text-dark" asp-controller="Login" asp-action="Index"><span class="fas fa-arrow-alt-to-left fa-1x"></span>Cerrar sesion</a>
</div>
<div>
    @RenderBody()
</div>
