<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatable/css/dataTables.bootstrap4.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/fontawesome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/datatable/css/jquery-ui.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/datatable/css/buttons.dataTables.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/datepicker/css/bootstrap-datepicker.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" asp-append-version="true" />
    
</head>
<body>
   <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/datatable/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatable/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatable/js/dataTables.responsive.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatable/js/jquery-ui.js" asp-append-version="true"></script>
    <script src="~/lib/datatable/js/dataTables.buttons.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatable/js/buttons.html5.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatable/js/pdfmake.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatable/js/jszip.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatable/js/vfs_fonts.js" asp-append-version="true"></script>
    <script src="~/lib/datepicker/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
    <script src="~/lib/select2/js/select2.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/moment/moment.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</body>
</html>
