<div class="container">
    <div class="contenedor">
        <div class="row div-login">
            <div class="col-4 logo-login login">
                <img src="images/router.png" alt="" height="200px">
            </div>
            <div class="col-8 login text-end bg-light">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1>Login</h1>
                    </div>
                    <div class="mt-2 col-12">
                        <label for="txtUsusario" class="form-label">Usuario</label>
                        <input type="email" class="form-control" id="txtUsusario">
                    </div>
                    <div class="mt-2 col-12">
                        <label for="txtPasword" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="txtPasword">
                    </div>
                    <div class="col-12 mt-2">
                        <button class="btn btn-primary col-6" onclick="ingresar()">Ingresar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="Script/LoginScript"></partial>